.main {
    margin: 0 auto;
    width: 100%;
}

.col {
    height:700px;
    width: 32%;
    margin-top: 90px;
    float: left;
    border: 2px solid white;
    text-align: justify;
}

.col-img {
    height: 100%;
    width: 100%;
}

.footer {
    margin-top: 12px;
}